body{
  height: 100vh;
}
.weather-card {
    height: 300px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s ease-in-out; 
  }
  
  .weather-card:hover {
    transform: scale(1.10); 
  }
  
  .card-img-top {
    max-height: 150px; 
    object-fit: contain; 
  }
  
  .card-body {
    flex-grow: 1; 
  }