body {
  background-image: url('/fotometeo.jpg');
  background-size: cover; 
  background-position: center; 
  background-attachment: fixed; 
  margin: 0; 
  height: 100vh; 
}
.weather-card {
    height: 300px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
  }
  
  .weather-card:hover {
    transform: scale(1.10); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .card-img-top {
    max-height: 150px; 
    object-fit: contain; 
  }
  
  .card-body {
    flex-grow: 1; 
  }